@import './global.css';
@import './header.css';
@import './folders.css';
@import './filters.css';
@import './loading.css';
@import './empty.css';
@import './items.css';
@import './responsive.css';
@import './modal.css';
@import './form.css';
@import './table.css';
@import './variants.css';
@import './delete.css';
@import './bundle.css';
@import './checkboxes.css';
@import './info.css';
@import './variation-request.css';
@import './availability.css';
