.users-sidebar {
    width: 320px;
    background: white;
    border-right: 1px solid #e2e8f0;
    display: flex;
    flex-direction: column;
    order: 1;
  }

  @media (max-width: 768px) {
    .users-sidebar {
      width: 100%;
      height: 40vh;
      order: 1;
    }
  }