.min-h-screen {
    min-height: 100vh;
  }
  .bg-gray-50 {
    background-color: #f9fafb;
  }
  .container {
    width: 100%;
  }
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .max-w-4xl {
    max-width: 56rem;
  }
  .space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }