.rtl .search-icon {
    left: auto;
    right: 0.75rem;
  }

  .rtl .filter-icon {
    left: auto;
    right: 0.75rem;
  }

  .rtl .space-icon {
    left: auto;
    right: 0.75rem;
  }

  .rtl .search-input {
    padding-left: 1rem;
    padding-right: 2.75rem;
    text-align: right;
  }

  .rtl .filter-select {
    padding-left: 1rem;
    padding-right: 2.75rem;
    text-align: right;
  }

  .rtl .space-select {
    padding-left: 1rem;
    padding-right: 2.75rem;
    text-align: right;
  }

  .rtl .sort-select,
  .rtl .sort-order-select {
    text-align: right;
  }